

<div>
    <h2>Current Date Time</h2>
    <h2>
        Month
        <%= @currentTime.month %>
    </h2>
    <h2>
        day
        <%= @currentTime.day %>
    </h2>
    <h2>
        year
        <%= @currentTime.year %>
    </h2>
    <h2>
        timezone
        <%= @currentTime.zone %>
    </h2>
</div>